.flip{
    height:max-content;
    background-image: url('https://images.unsplash.com/photo-1579780864813-863e246d3bc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1180&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    backface-visibility: visible;
 
}
.lil {
    background-image: url('https://images.unsplash.com/photo-1522325636832-5dbc1440f793?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    border-radius: 5px;
    width: 85%;
    
    
}